.composition{
    position: relative;

    &__photo{
        width:55%;
        // box-shadow: 0 1.5rem 4rem rgba($color-black,.4);
        position: absolute;
        transition: all .2s;


        &--p1{
            left:5%;
            top: -10rem;
            scale: .8;
            z-index: 1;
               
        }

        &--p2{
            left:-20%;
            top: 15rem;
            scale: 0.7
        }


        &--p3{
            left:35%;
            top: 15rem;
            scale: .7;
        }
        &:hover{
            transform: scale(1.1) translateY(-.5rem);
            // box-shadow: 0 2.5rem 4rem rgba($color-black,0.5);
            z-index: 20;
        }


    }

    &:hover &__photo:not(:hover){
        transform: scale(0.9);
    }
}