.section-about{
    background-color: lightgray;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.438),
        rgba($color-grey-dark, 0.801)
        ),
        url(/img/nat.jpg);
     background-size: cover;

     transform: skewY(-7deg);
    margin-top: -12rem;
    &>*{
        transform: skewY(7deg);
    }

}

.section-tours{

    background-color: lightgray;
    padding: 25rem 0 15rem 0    ;
    margin-top: -10vh;
}


.section-stories{
    position: relative;
    padding: 15rem 0;
}