//COLORS

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-red: red;
$color-secondary-yellow: #ffb900;
$color-secondary-orange: #ff7730;
$color-secondary-blue: #2998ff;
$color-secondary-purple: #5643fa;


//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
